# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/

# Secrets
.env
secret_key.txt

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
